*{
    margin:0;
    paddig:0;
}
body{
    width:90%;
    margin:auto;
}
header{
    background-color: rgb(55, 244, 17);
    color:black;
    height:70px;
    text-align: center;
    margin-top:10px;
    padding-top:20px;
}
.menu{
    background-color:darkcyan;
    color: rgb(255, 255, 255);
    height:40px;
    padding-top:20px;
    margin-top:10px;
}
section ul{
    text-align: center;

}
section ul li{
    display:inline;
    padding:20px;
}
.feature{
    background-color:forestgreen;
    color:white;
    height:140px;
    margin-top:10px;
    text-align: center;
}
.mainsection{
    color:rgb(255, 255, 255);
    height:120px;
    text-align: center;
    margin-top:10px;
    display:flex;
}
.columnone{
    width:33.33%;
    margin-right:10px;
    background-color: #ca1c99;
    padding-top:20px;
}
.columntwo{
    width:33.34%;
    margin-left:5px;
    margin-right:5px;
    background-color: #1c90ca;
    padding-top:20px;
}
.columnthree{
    width:33.33%;
    margin-left:10px;
    background-color: #aaca1c;
    padding-top:20px;
}
footer{
    background-color: #ffee02;
    color: #000;
    text-align: center;
    margin-top:10px;
    height:60px;
    padding-top:20px;
}